In [1]:
x = 10

In [2]:
print(x)

10

In [3]:
x = range(10)

In [4]:
print(x)

range(0, 10)

In [6]:
for i in range(10): 
    print(i+1)

var1 = i 
print(var1)

1
2
3
4
5
6
7
8
9
10
9

In [7]:
for i in range(10): 
    print(i+1)
    var1 = i
    print(var1)

1
0
2
1
3
2
4
3
5
4
6
5
7
6
8
7
9
8
10
9

In [8]:
for i in [1, 3, 5, 7, 100]: 
    print(i)

1
3
5
7
100

In [9]:
for letter in "hello": 
    print(letter)

h
e
l
l
o

In [10]:
my_string = "UCLA MAE"
for letter in my_string: 
    print(letter)

U
C
L
A

M
A
E

In [11]:
count = 0 
for letter in my_string: 
    count = count + 1 

print(count)

8

In [12]:
for letter in "UCLA MAE": 
    print(letter)

U
C
L
A

M
A
E

In [13]:
len(my_string)

8

In [20]:
x= ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
x[0]

'1'

In [15]:
x[:5]

[1, 2, 3, 4, 5]

In [16]:
x[5]

6

In [17]:
x[5:]

[6, 7, 8, 9]

In [18]:
x[4]

5

In [19]:
x[3:5]

[4, 5]

In [24]:
import os 
os.getcwd()

'/Users/melodyhuang'

In [ ]:
os.chdir("whatever directory you want to change to")

In [25]:
x= [1, 3, 0, 5, 9]
for i in x: 
    print(i)

1
3
0
5
9

In [28]:
for i in range(len(x)):
    print(x[i])

1
3
0
5
9

In [29]:
#Print a sequence of numbers from 0 to 100: 
for x in range(101):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
#Print a sequence of even numbers from 2 to 100
for x in range(50):
    print(2*(x+1))

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [33]:
for x in range(1, 51):
    print(2*x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [34]:
for x in range(2, 101, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [35]:
#Create a list of even numbers from 2 to 12
numbers = []
for x in range(2, 13, 2):
    numbers.append(x)

In [36]:
numbers

[2, 4, 6, 8, 10, 12]

In [37]:
#Want to add in [1,2,3] to numbers list
numbers.append([1,2,3])

In [38]:
numbers

[2, 4, 6, 8, 10, 12, [1, 2, 3]]

In [39]:
numbers.extend([1,2,3])

In [40]:
numbers

[2, 4, 6, 8, 10, 12, [1, 2, 3], 1, 2, 3]

In [41]:
numbers = []
for x in range(10):
    numbers.append(x+1)

In [42]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
data=[[42, 53, 10, 25, 2300, 5123], 
     [12, 32, 12, 31, 2600, 1094529],
      [23, 51, 23, 25, 2015, 1034951]]

In [ ]:
open = [42, 12, 23]

In [45]:
open=[data[0][0], data[1][0], data[2][0]]

42

In [47]:
open=[]
for i in range(len(data)): #0, 1, 2
    open.append(data[i][0])

open

[42, 12, 23]

In [ ]:
for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j])

In [48]:
open = [data[i][0] for i in range(len(data))]

In [49]:
open

[42, 12, 23]

In [50]:
#f(x) = x+1 
def magicFunction(x): 
    x = x+1
    return(x)

In [51]:
magicFunction(3)

4

In [53]:
x = 3
print(magicFunction(x))
print(x)

4
3

In [55]:
y = magicFunction(x)
print(y)

4

In [56]:
def magicFunction2(x): 
    x = x+1
    print(x)

In [57]:
magicFunction2(x)

4

In [58]:
y = magicFunction2(x)

4

In [59]:
y